{% extends "rememberly/give.html" %}
{% load static %}

{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset= "utf-8">
    <meta http-equiv="X-UA-Compatible" content= "IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <title>Rememberly</title>
    <link rel="stylesheet" href="{% static 'css/remapp.css' %}">
     <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  </head>

    <body>
        <div class="header-container">
            <img src="{% static "css/triangle.svg" %}" alt="image" style="width: 20px;
    height: 20px;">
            <h3 style="font-size: x-large;">REMEMBERLY</h3>
        </div>

        {% block content %}
            <div class="register-container">
                <form method = "post" action="{% url 'users:register' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {% bootstrap_form form layout='inline'%}
                    </div>

                    {% buttons %}
                     <button name="submit">register</button>
                    {% endbuttons %}
                    <input type = "hidden" name = "next" value="{% url 'remapp:index' %}" />
                </form>
            </div>
        {% endblock content %}

        </div>
            <a style="font-family: 'Righteous', cursive; text-decoration: none;" href="{% url 'remapp:index' %}">Rememberly</a>
        </div>
     <footer>
         <p>contact : ooakhu@gmail.com</p>
     </footer>
    </body>
</html>